body {
  background-image: url("media/bg.png");
  background-repeat: repeat;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.left, .middle, .right {
  padding: 15px;
}
.left{
  background: rgba(255, 255, 255, 0.8);
}
.right {
  display: none;
}
.middle {
  background: rgba(255, 255, 255, 0.75);
}

.centerAdaptiveImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
