  .talyniscool {
    margin: auto;
    width: 720px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  body {
    background-image: url('media/bg.png');
    background-repeat: repeat;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
  }