.sitebox {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: stretch; /* Stretch children to the same height */
    height: 100vh; /* Optional: Full viewport height */
}
.left {
    width: 300px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px
}
.right {
    width: 500px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px
}

.centerAdaptiveImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
body{
background-image: url("media/bg.png");
margin: auto;
background-repeat: repeat;
  font-family: 'DM Sans', sans-serif
}
