body {
  background-image: url("media/bg.png");
  background-repeat: repeat;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.sitebox {
  display: flex;
  align-items: stretch;
}

.left, .middle, .right{
    width: 300px;
    height: 600px;
    padding: 15px;
    overflow: auto;
}
.left {
  background: rgba(255, 255, 255, 0.8);
}
.middle {
  background: rgba(255, 255, 255, 0.75);
}

.right {
  width: 500px;
  background: rgba(255, 255, 255, 0.7);
}

.centerAdaptiveImg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.showcase{
width: 260px;
height: 260px;
background-image: url("/media/showcase/border.png");
padding: 10px;
margin-bottom: 5px
}
